@using Newtonsoft.Json
@model SitemaDeComandas.Models.ViewModel.VendaViewModel

@{
    ViewData["Title"] = "Create";

}

<h1>Nova venda</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <button type="button" class="btn btn-outline-primary" id="btn-add-prod" data-bs-toggle="modal" data-bs-target="#produtos-modal">Adicionar produtos</button>

            @* Modal *@

            <div class="modal fade" id="produtos-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Seleção de produtos</h4>
                            <button type="button" class="btn btn-close close" id="btn-close-modal" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">

                            <div class="container">
                                @if (Model.Produtos.Count() > 0)
                                {
                                    <div class="row">
                                        @foreach (var produto in Model.Produtos)
                                        {
                                            <div class="py-3 col-6 col-sm-6 col-md-4 col-lg-4">
                                                <div class="card">
                                                    <img src="" class="card-img-top" alt="yakisoba">
                                                    <div class="card-body">
                                                        <h5 class="card-title" id="card-title-@produto.ProdutoId">@produto.Nome</h5>
                                                        <p class="card-text">@produto.Descricao</p>
                                                    </div>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <label id="preco-unitario-@produto.ProdutoId">R$@produto.Preco</label>
                                                        </li>
                                                        <li class="input-group">
                                                            <div class="input-group">
                                                                <button type="button" class="btn btn-primary" id="btn-diminui-qtd-@produto.ProdutoId">-</button>
                                                                <input type="text" class="form-control bg-light text-center produto-input-qtd" id="input-qtd-@produto.ProdutoId" value="0" disabled>
                                                                <button type="button" class="btn btn-primary" id="btn-aumenta-qtd-@produto.ProdutoId">+</button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <button type="button" class="btn btn-success col-12" id="btn-add-produtos" data-bs-dismiss="modal">Adicionar pedidos à venda</button>
                                }
                                else
                                {
                                    <h1>Não foi possível encontrar nenhum produto cadastrado ou ativo, verifique.</h1>
                                }
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <table class="table" id="table-produtos-venda">
                <thead id="thead-produtos-venda">
                    <tr>
                        <th scope="col">Prod. Cod.</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Qtd. Un.</th>
                        <th scope="col">Val. Unit.</th>
                        <th scope="col">Val. Total</th>
                    </tr>
                </thead>
                <tbody id="tbody-produtos-venda">
                </tbody>
            </table>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label">Nome do cliente</label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamentoId" class="control-label">Forma de pagamento</label>
                <select asp-for="FormaPagamentoId" class ="form-control" asp-items="ViewBag.FormaPagamentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoVendaId" class="control-label">Status</label>
                <select asp-for="SituacaoVendaId" class ="form-control" asp-items="ViewBag.SituacaoVendaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PrecoTotal" class="control-label">Preço total</label>
                <div class="input-group">
                    <span class="input-group-text">R$</span>
                    <input type="text" asp-for="PrecoTotal" class="form-control bg-light" id="input-preco-total" disabled>
                    <span asp-validation-for="PrecoTotal" class="text-danger"></span>
                </div>
            </div>  
            <div class="form-group">
                <input type="submit" value="Vender" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

        $(document).ready(function () {
            const produtosIds = @JsonConvert.SerializeObject(Model.Produtos.Select(prd => prd.ProdutoId).ToArray());

            for (let i = 0; i < produtosIds.length; i++) {
                $('#btn-aumenta-qtd-' + produtosIds[i]).on('click', function () {
                    let quantidade = parseInt($('#input-qtd-' + produtosIds[i]).val()) || 0;
                    $('#input-qtd-' + produtosIds[i]).val(quantidade + 1);
                });
                
                $('#btn-diminui-qtd-' + produtosIds[i]).on('click', function () {
                    let quantidade = parseInt($('#input-qtd-' + produtosIds[i]).val()) || 0;
                    if (quantidade > 0) {
                        $('#input-qtd-' + produtosIds[i]).val(quantidade - 1);
                    }
                });
            }

            $('#btn-add-produtos').on('click', function () {

                const produtosInputs = $('.produto-input-qtd');
                $('.row-produto-venda').remove();

                let valorTotalVenda = 0;
                let valorTotal = 0;

                for (let i = 0; i < produtosIds.length; i++) {
                    if (parseInt(produtosInputs[i].value) > 0) {

                        valorTotal = (parseFloat($('#preco-unitario-' + produtosIds[i])[0].innerHTML.replace("R$", "").replace(",", ".")) * parseInt($('#input-qtd-' + produtosIds[i])[0].value));

                        let tableRow = `<tr class="row-produto-venda">` +
                            `   <th scope="row" id="row-produto-venda-id-${produtosIds[i]}">${produtosIds[i]}</th>` +
                            `   <td id="row-produto-venda-nome-${produtosIds[i]}"> ${$('#card-title-' + produtosIds[i])[0].innerHTML} </td>` +
                            `   <td id="row-produto-venda-qtd-un-${produtosIds[i]}"> ${$('#input-qtd-' + produtosIds[i])[0].value} </td>` +
                            `   <td id="row-produto-venda-val-un-${produtosIds[i]}"> ${$('#preco-unitario-' + produtosIds[i])[0].innerHTML} </td>` +
                            `   <td id="row-produto-venda-val-ttl-${produtosIds[i]}"> ${valorTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })} </td>` +
                            `</tr>`;
                        $('#tbody-produtos-venda').append(tableRow);
                    
                    valorTotalVenda += valorTotal;
                    };
                };

                $('#input-preco-total')[0].value = `${arredonda(valorTotalVenda)}`;
            });

            var arredonda = function (numero, casasDecimais) {
                casasDecimais = typeof casasDecimais !== 'undefined' ? casasDecimais : 2;
                return +(Math.floor(numero + ('e+' + casasDecimais)) + ('e-' + casasDecimais));
            };
        });
    </script>
}