@model SitemaDeComandas.Models.Venda

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VendaId" />
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamentoId" class="control-label"></label>
                <select asp-for="FormaPagamentoId" class="form-control" asp-items="ViewBag.FormaPagamentoId"></select>
                <span asp-validation-for="FormaPagamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoVendaId" class="control-label"></label>
                <select asp-for="SituacaoVendaId" class="form-control" asp-items="ViewBag.SituacaoVendaId"></select>
                <span asp-validation-for="SituacaoVendaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoTotal" class="control-label"></label>
                <input asp-for="PrecoTotal" class="form-control" />
                <span asp-validation-for="PrecoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraVenda" class="control-label"></label>
                <input asp-for="DataHoraVenda" class="form-control" />
                <span asp-validation-for="DataHoraVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraAlteracao" class="control-label"></label>
                <input asp-for="DataHoraAlteracao" class="form-control" />
                <span asp-validation-for="DataHoraAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
